@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 22px
}

h3 {
    font-size: 18px;
}

@keyframes blink {
    0% {
        visibility: hidden
    }
}

.blinking {
    animation: blink 1.5s steps(2) infinite;
}

.blinking-fast {
    animation: blink 0.5s steps(2) infinite;
}
